<button mat-dialog-close (click)="OpenUniversityDialog()" mat-button>Work with university</button>
<button mat-dialog-close (click)="OpenRoomDialog()" mat-button>Work with room</button>
<button mat-dialog-close (click)="OpenEquipmentDialog()" mat-button>Work with equipment</button>
<button mat-dialog-close (click)="GetMovementHistory()" mat-button>Get movement history</button>
<button mat-dialog-close (click)="GetChangeWorkerHistory()" mat-button>Get change worker history</button>

<div *ngFor="let movementHistoryItem of movementHistory">
    <label>Movement history:</label>
    {{movementHistoryItem.id}}
    {{movementHistoryItem.movementTime}}
    {{movementHistoryItem.previousRoomNumber}}
    {{movementHistoryItem.currentRoomNumber}}
    {{movementHistoryItem.equipmentInventoryNumber}}
</div>
<div *ngFor="let changeWorkerHistoryItem of workerChangeHistory">
    <label>Change worker history:</label>
    {{changeWorkerHistoryItem.id}}
    {{changeWorkerHistoryItem.changeTime}}
    {{changeWorkerHistoryItem.previousFinanciallyResponsiblePersonId}}
    {{changeWorkerHistoryItem.currentFinanciallyResponsiblePersonId}}
    {{changeWorkerHistoryItem.equipmentInventoryNumber}}
</div>